@font-face {
  font-family: 'VT323';
  src: url('assets/fonts/VT323-Regular.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
}

.layout_theme {
  --splitter-size: 2px; /* from MainWindow.tsx */
  --default-size: var(--splitter-size);

  --behind-box-size: 4rem;
  --behind-box-offset: calc(-1 * (var(--behind-box-size) / 2 + var(--splitter-size) / 2));
  --header-size: calc((var(--behind-box-size) / 2 - var(--splitter-size) / 2));

  --scrollbar-full-width: calc(var(--default-size) * 8);
  --scrollbar-small-width: var(--default-size);
  --scrollbar-min-height: 4rem;
  --scrollbar-border-width: calc((var(--scrollbar-full-width) - var(--scrollbar-small-width)) / 2);

  --tab-conent-padding-right: 0.5rem;
  --scroll-margin: calc((var(--scrollbar-full-width) - var(--scrollbar-small-width)) / -2);
  --tab-content-margin: 0 calc(var(--scroll-margin) - var(--tab-conent-padding-right)) 0 0; /* <- makes scrollbar closer to the edge */
  --tab-content-padding: 0 var(--tab-conent-padding-right) 0 var(--tab-conent-padding-right);
}

::-webkit-scrollbar {
  width: var(--scrollbar-full-width);
  height: var(--scrollbar-full-width);
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  background: orangered;
  min-height: var(--scrollbar-min-height);
  min-width: var(--scrollbar-min-height);
  overflow: hidden;
  border-style: solid;
  border-color: transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:vertical {
  border-width: 0 var(--scrollbar-border-width) 0 var(--scrollbar-border-width);
}

::-webkit-scrollbar-thumb:horizontal {
  border-width: var(--scrollbar-border-width) 0 var(--scrollbar-border-width) 0;
}

::-webkit-scrollbar-track:hover {
  cursor: default;
}

::-webkit-scrollbar-thumb:hover {
  cursor: default;
  border: 0;
}

.layout_theme .flexlayout__tab_moveable {
  margin: var(--tab-content-margin);
  padding: var(--tab-content-padding);
}

.layout_theme .flexlayout__layout {
  --color-background: lightgray;
  --color-drag1: orangered;
  --color-drag2: orangered;
  --color-drag1-background: rgba(255, 69, 0, 0.1);
  --color-drag2-background: rgba(255, 69, 0, 0.3);
  --color-splitter: transparent;
  --color-splitter-hover: black;
  --color-splitter-drag: orangered;
  --color-edge-marker: orangered;
  --color-edge-icon: transparent;
  --color-tab-unselected: gray;
  --color-border-tab-unselected: gray;

  --font-family: 'VT323';
  --font-size: 1.4rem;

  overflow: clip;
  z-index: 0;
}

.layout_theme .flexlayout__splitter,
.layout_theme .flexlayout__splitter:hover,
.layout_theme .flexlayout__splitter_drag,
.layout_theme .flexlayout__popup_menu_container,
.layout_theme .flexlayout__drag_rect,
.layout_theme .flexlayout__outline_rect,
.layout_theme .flexlayout__outline_rect_edge {
  border-radius: 0 !important;
}

.layout_theme .flexlayout__popup_menu_container {
  box-shadow: none;
}

.layout_theme .flexlayout__tabset_tabbar_outer_top {
  height: var(--header-size);
}

.layout_theme .flexlayout__tabset_container, .layout_theme .flexlayout__border_tab_contents, .layout_theme .flexlayout__border {
  background-color: var(--color-background);
}

.layout_theme .flexlayout__tabset, .layout_theme .flexlayout__tabset_container, .layout_theme .flexlayout__row {
  overflow: visible;
}

.layout_theme .flexlayout__tabset::before,
.layout_theme .flexlayout__tabset::after,
.layout_theme .flexlayout__tabset *:first-child::before,
.layout_theme .flexlayout__tabset *:first-child::after {
  content: '';
  height: var(--behind-box-size);
  width: var(--behind-box-size);
  position: absolute;
  background: black;
  z-index: -1;
}

.layout_theme .flexlayout__tabset::before {
  left: var(--behind-box-offset);
  top: var(--behind-box-offset);
}

.layout_theme .flexlayout__tabset::after {
  right: var(--behind-box-offset);
  top: var(--behind-box-offset);
}

.layout_theme .flexlayout__tabset *:first-child::before {
  left: var(--behind-box-offset);
  bottom: var(--behind-box-offset);
}

.layout_theme .flexlayout__tabset *:first-child::after {
  bottom: var(--behind-box-offset);
  right: var(--behind-box-offset);
}

.layout_theme .flexlayout__tab_button_overflow_count {
  font-family: var(--font-family);
}

/* where drop aims to */
.layout_theme .flexlayout__tab_button_content, .layout_theme .flexlayout__border_button_content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.layout_theme .flexlayout__tab_button, .layout_theme .flexlayout__border_button {
  position: relative;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.layout_theme .flexlayout__tab_button_trailing, .layout_theme .flexlayout__border_button_trailing {
  position: absolute;
  right: -0.3rem;
}

.layout_theme .flexlayout__popup_menu {
  background-color: var(--color-background);
  border: var(--default-size) solid black;
}

@media (hover: hover) {
  .layout_theme .flexlayout__popup_menu_item:hover {
    background-color: orangered;
  }
}

.layout_theme .flexlayout__tabset_tabbar_inner {
  position: initial;
}